attrs==20.3.0
cached-property==1.5.2
distro==1.5.0
docker==4.4.1
docker-compose==1.27.4
dockerpty==0.4.1
docopt==0.6.2
jsonschema==3.2.0
pybind11==2.6.2
pyrsistent==0.17.3
python-dotenv==0.15.0
shadowsocks==2.8.2
texttable==1.6.3
websocket-client==0.57.0
